<div class="card">
  <div class="card-body">

    <form (ngSubmit)="procesar()" #formContact="ngForm">
      
      <div class="mb-2">
        <label class="form-label"> Nombre: </label>
        <input type="text" name="nombre" class="form-control" placeholder="Favor de ingresar su nombre" [(ngModel)]="persona.nombre" required #name="ngModel"/>

        <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine">
            El nombre es obligatorio
        </div>
      </div>
      
      <div>
        <label class="fomr-label"> Edad: </label>
        <input type="number" name="edad" class="form-control" placeholder="Favor de ingresar la edad" [(ngModel)]="persona.edad" required #age="ngModel"/>

        <div class="alert alert-danger mt-2" [hidden]="age.valid || age.pristine">
            La edad es obligatoria
        </div>
      </div>

      <!-- para validar cada uno de los inputs -->
      <!--button class="btn btn-primary mt-2" [disabled]="!name.valid || age.invalid">-->
      
      <!-- para validar todo el formulario -->
      <button class="btn btn-primary mt-2" [disabled]="formContact.invalid">
        Enviar
      </button>

    </form>

  </div>
</div>

{{ formContact.valid | json }}
